html{overflow-x:hidden;}
.navbar-header {
    float: none;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    display:inline-block;
}
.container-fluid-local {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.navbar-default .navbar-header .navbar-brand {
    font-weight: 700;
    color: #F05F40;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
#check_list{
  color:#F05F40;
}
#demoForm{
  float:left;
}
#eg{
 margin-left:4em;
}
.btn-group{
 float:left;
 padding-left:100px;
}
.header-content{
 top:18% !important;
 text-align:left !important;
 
}
/* side bar */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: -250px; /* add*/
    width: 250px;
    height: 100%;
    /*transform: translateX(250px);*/
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-wrapper.active {
    left: 0px;  /* add*/
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 5px 5px 0 0;
}
/* Map */

#map_wrapper {
    height: 400px;
}

#map_canvas {
    max-width:none; 
    height: 400px;
    margin:0;
    padding:0;
}
#map-canvas img {
    max-width:none !important;
}
.map {
    height: 650px;
}

@media(max-width:768px) {
    .map {
        height: 100%;
    }
}
.map iframe {
    margin-top: 5%;
    margin-left:20%;
    margin-right: 5%;
    pointer-events: none;
}
header .header-content {
    position: absolute;
    top: 20%;
    left:20%;
    font-size:20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
}
.navbar-new > li > a {
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.page-header-font {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color:white;
}
.fa-diamond-2:before {
  content: "\f219";
}
.info_content{
  padding:0;
  background-color:blue;
}
ul{
  color:black;
}
p{
  color:black;
  font-size:15px;
  }
h5{
  color:black;
  font-size:18px;
}
.gm-style-iw{
 left:0px !important;
 top:15px !important;
 width:350px !important;
 right:0px !important;
 border-radius: 2px 2px 0px 0px; 
 background-color:#F05F40;
 box-shadow:0 1px 6px rgba(178,178,178,0.6);
 border:1px solid rgba(72,181,233,0.6);
}
.iw-container .iw-title {
   font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
 
   font-size: 22px;
   font-weight:bold; 
   padding: 10px;
   background-color: black !important;
   color: #F05F40;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
#iw-container {
  margin-bottom:10px;
}
.iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding:5px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right !important;
    margin: 0 5px 5px 10px; 
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 328px;
    height: 25px;
    bottom: 0px;
    right: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

